<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>购物车</title>
	<!--  导入Bootstrap四个文件，导入的顺序固定  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- 引入element-ui样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div class="container" id="app">
	 <el-table
		v-loading="loading"
		ref="multipleTable"
		:data="tableData"
		tooltip-effect="dark"
		style="width: 100%"
		lazy
		border
		:header-cell-style="{background:'#0094ff',color:'#fff'}"
		empty-text="购物车目前空空如也~"
		@selection-change="handleSelectionChange">
		<el-table-column
		  type="selection"
		  width="40">
		</el-table-column>
		<el-table-column
		  label="图片"
		  align="center"
		  width="140">
		  <template slot-scope="scope">
			  <el-image
			  style="width: 80px; height: 80px"
			  :src="scope.row.imgS"
			  fit="fit"></el-image>
		  </template>
		</el-table-column>
		<el-table-column
		  prop="pname"
		  label="商品名称"
		  align="center"
		  >
		</el-table-column>
		<el-table-column
		  prop="price"
		  label="单价"
		  width="80"
		  align="center"
		  >
		</el-table-column>
		<el-table-column
		  prop="num"
		  label="数量"
		  width="151"
		  align="center"
		  >
		  <template slot-scope="scope">
			  <el-input-number size="small" v-model="scope.row.num" @change="changeNum(scope.row)" :min="1"></el-input-number>
		  </template>
		</el-table-column>
		<el-table-column
		  prop="summary"
		  label="小结"
		  width="80"
		  align="center"
		  >
		</el-table-column>
		<el-table-column label="操作" align="center" width="80">
		  <template slot-scope="scope">
			<el-button
			  size="mini"
			  type="danger"
			  @click="deleteCur(scope.row, scope.$index)">删除</el-button>
		  </template>
		</el-table-column>
	  </el-table>
	  <div style="margin-top: 20px">
		<el-button @click="clearCart()">清空购物车</el-button>
		<el-button @click="toggleSelection()">取消选择</el-button>
		<span style="float: right; color: #409eff; font-size: 1rem;">
			<span style="margin-right: 10px;" v-if="multipleSelection&&multipleSelection.length>0">当前所选总金额：￥ {{sumPrice}}</span>
			<el-button type="primary" @click="submitCart()">结算</el-button>
		</span>
	  </div>
</div>
</body>
<!-- 引入开发版本Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入element-ui组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
<!-- Qs库，处理axios的post请求带参数问题 -->
<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script src="js/public.js"></script>
<script src="js/cart.js"></script>
</html>
