.nav-tabs {
    border: 0px;
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
    border: 1px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #495057 ;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #495057;
}

.my_small{
    font-size: 0.8rem;
}
.bg_gray{
    background-color: #f5f5f5;
}
.my_pure_muted{
    color: #6c757d !important;
}

.my_muted{
    color: #6c757d !important;
}

.my_muted:hover{
    text-decoration: underline;
    color: darkred !important;
    cursor: pointer !important;
}

.my_muted.active{
    color: red !important;
    text-decoration: underline;
}

.nav-item{
    border: 0px !important;
}

.list-group {
    -ms-flex-direction: column;
    flex-direction: row;
}

